body {
    padding:0;
    margin:0;
    width:100vw;
    height:100vh;
    position:relative;
    background-color:skyblue;
    
}



.ball{
    position:absolute;
    width:150px;
    height:150px;
    border-radius:50%;
    background-color:#FF5722;
    transform:translate(-50%,-30%);
    top:30%;
    left:50%;
    border:5px solid black;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    
    
}

.bounceBall{
    animation:
    bounce 0.9s infinite;
    position:relative ;
}

.ball:before{
    content:" ";
    display:block;
    position:absolute;
    top:15%;
    right:15%;
    width:25px;
    height:25px;
    border-radius:50%;
    background-color:white;
    
}


@keyframes bounce{

    10%{
        width:150px;
        height:150px;     
    }
    
    30%{
        width:150px;
        height:100px;
    }
    
    50%{
    
    width:150px;
    height:85px;
    transform: translate(-50%,250%);
        
    }
    
    70%{
    width:150px;
    height:120px;
        
    }
    
    100%{
    width:150px;
    height:150px;
    transform: translate(-50%,-30%);
    }
}


.shadow{
    width:100px;
    height:50px;
    background-color:rgba(128,128,128,0.2);
    position:absolute ;
    top:50%;
    left:50%;
    transform: translate(-50%,420%);
    border-radius:50%;
    animation:shadowShrink 0.9s infinite ;
   
   }
   
@keyframes shadowShrink{
    0%{
        width:100px;
        height:50px;
    }

    25%{
        width:150px;
        height:50px;
    }
    
    75%{
        width:150px;
        height:50px;
    }
    
    100%{
        width:100px;
        height:50px;
    }
        

    
}
